# Dataquest Guided Project
## Predicting House Sale Prices
### Introduction and Goal

We'll work with housing data for the city of Ames, Iowa, United States from 2006 to 2010. You can read more about why the data was collected here. You can also read about the different columns in the data here.

Let's start by setting up a pipeline of functions that will let us quickly iterate on different models. Train -> transform_features() -> select_features() -> train_and_test() -> rmse_values and avg_mse.

In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

In [118]:
data = pd.read_csv('AmesHousing.tsv', sep='\t')

In [119]:
data.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [120]:
data.info

<bound method DataFrame.info of       Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0         1  526301100           20        RL         141.0     31770   Pave
1         2  526350040           20        RH          80.0     11622   Pave
2         3  526351010           20        RL          81.0     14267   Pave
3         4  526353030           20        RL          93.0     11160   Pave
4         5  527105010           60        RL          74.0     13830   Pave
5         6  527105030           60        RL          78.0      9978   Pave
6         7  527127150          120        RL          41.0      4920   Pave
7         8  527145080          120        RL          43.0      5005   Pave
8         9  527146030          120        RL          39.0      5389   Pave
9        10  527162130           60        RL          60.0      7500   Pave
10       11  527163010           60        RL          75.0     10000   Pave
11       12  527165230           20        RL           NaN      7980   Pave
12       13  527166040           60        RL          63.0      8402   Pave
13       14  527180040           20        RL          85.0     10176   Pave
14       15  527182190          120        RL           NaN      6820   Pave
15       16  527216070           60        RL          47.0     53504   Pave
16       17  527225035           50        RL         152.0     12134   Pave
17       18  527258010           20        RL          88.0     11394   Pave
18       19  527276150           20        RL         140.0     19138   Pave
19       20  527302110           20        RL          85.0     13175   Pave
20       21  527358140           20        RL         105.0     11751   Pave
21       22  527358200           85        RL          85.0     10625   Pave
22       23  527368020           60        FV           NaN      7500   Pave
23       24  527402200           20        RL           NaN     11241   Pave
24       25  527402250           20        RL           NaN     12537   Pave
25       26  527403020           20        RL          65.0      8450   Pave
26       27  527404120           20        RL          70.0      8400   Pave
27       28  527425090           20        RL          70.0     10500   Pave
28       29  527427230          120        RH          26.0      5858   Pave
29       30  527451180          160        RM          21.0      1680   Pave
...     ...        ...          ...       ...           ...       ...    ...
2900   2901  916477010           20        RL          95.0     13618   Pave
2901   2902  921205030           20        RL          88.0     11443   Pave
2902   2903  921205050           20        RL          88.0     11577   Pave
2903   2904  923125030           20   A (agr)         125.0     31250   Pave
2904   2905  923202025           90        RM          78.0      7020   Pave
2905   2906  923203090          120        RM          32.0      4500   Pave
2906   2907  923203100          120        RM          32.0      4500   Pave
2907   2908  923205120           20        RL          90.0     17217   Pave
2908   2909  923225190          160        RM          41.0      2665   Pave
2909   2910  923225240          160        RM          41.0      2665   Pave
2910   2911  923225260          160        RM          42.0      3964   Pave
2911   2912  923225510           20        RL          58.0     10172   Pave
2912   2913  923226150           90        RL           NaN     11836   Pave
2913   2914  923226180          180        RM          21.0      1470   Pave
2914   2915  923226290          160        RM          21.0      1484   Pave
2915   2916  923227100           20        RL          80.0     13384   Pave
2916   2917  923228130          180        RM          21.0      1533   Pave
2917   2918  923228180          160        RM          21.0      1533   Pave
2918   2919  923228210          160        RM          21.0      1526   Pave
2919   2920  923228260          160        RM          21.0      1936   Pave
2920   2921  923228310          160        RM          21.0      1894   Pave
2921   2922  923229110           90        RL          55.0     12640   Pave
2922   2923  923230040           90        RL          63.0      9297   Pave
2923   2924  923250060           20        RL          80.0     17400   Pave
2924   2925  923251180           20        RL         160.0     20000   Pave
2925   2926  923275080           80        RL          37.0      7937   Pave
2926   2927  923276100           20        RL           NaN      8885   Pave
2927   2928  923400125           85        RL          62.0     10441   Pave
2928   2929  924100070           20        RL          77.0     10010   Pave
2929   2930  924151050           60        RL          74.0      9627   Pave

     Alley Lot Shape Land Contour    ...     Pool Area Pool QC  Fence  \
0      NaN       IR1          Lvl    ...             0     NaN    NaN
1      NaN       Reg          Lvl    ...             0     NaN  MnPrv
2      NaN       IR1          Lvl    ...             0     NaN    NaN
3      NaN       Reg          Lvl    ...             0     NaN    NaN
4      NaN       IR1          Lvl    ...             0     NaN  MnPrv
5      NaN       IR1          Lvl    ...             0     NaN    NaN
6      NaN       Reg          Lvl    ...             0     NaN    NaN
7      NaN       IR1          HLS    ...             0     NaN    NaN
8      NaN       IR1          Lvl    ...             0     NaN    NaN
9      NaN       Reg          Lvl    ...             0     NaN    NaN
10     NaN       IR1          Lvl    ...             0     NaN    NaN
11     NaN       IR1          Lvl    ...             0     NaN  GdPrv
12     NaN       IR1          Lvl    ...             0     NaN    NaN
13     NaN       Reg          Lvl    ...             0     NaN    NaN
14     NaN       IR1          Lvl    ...             0     NaN    NaN
15     NaN       IR2          HLS    ...             0     NaN    NaN
16     NaN       IR1          Bnk    ...             0     NaN    NaN
17     NaN       Reg          Lvl    ...             0     NaN    NaN
18     NaN       Reg          Lvl    ...             0     NaN    NaN
19     NaN       Reg          Lvl    ...             0     NaN  MnPrv
20     NaN       IR1          Lvl    ...             0     NaN  MnPrv
21     NaN       Reg          Lvl    ...             0     NaN  MnPrv
22     NaN       Reg          Lvl    ...             0     NaN    NaN
23     NaN       IR1          Lvl    ...             0     NaN    NaN
24     NaN       IR1          Lvl    ...             0     NaN    NaN
25     NaN       Reg          Lvl    ...             0     NaN    NaN
26     NaN       Reg          Lvl    ...             0     NaN  MnPrv
27     NaN       Reg          Lvl    ...             0     NaN    NaN
28     NaN       IR1          Lvl    ...             0     NaN    NaN
29     NaN       Reg          Lvl    ...             0     NaN    NaN
...    ...       ...          ...    ...           ...     ...    ...
2900   NaN       Reg          Lvl    ...             0     NaN    NaN
2901   NaN       Reg          Lvl    ...             0     NaN    NaN
2902   NaN       Reg          Lvl    ...             0     NaN    NaN
2903   NaN       Reg          Lvl    ...             0     NaN    NaN
2904   NaN       Reg          Lvl    ...             0     NaN    NaN
2905   NaN       Reg          Lvl    ...             0     NaN    NaN
2906   NaN       Reg          Lvl    ...             0     NaN    NaN
2907   NaN       Reg          Lvl    ...             0     NaN    NaN
2908   NaN       Reg          Lvl    ...             0     NaN    NaN
2909   NaN       Reg          Lvl    ...             0     NaN    NaN
2910   NaN       Reg          Lvl    ...             0     NaN  GdPrv
2911   NaN       IR1          Lvl    ...             0     NaN    NaN
2912   NaN       IR1          Lvl    ...             0     NaN    NaN
2913   NaN       Reg          Lvl    ...             0     NaN    NaN
2914   NaN       Reg          Lvl    ...             0     NaN    NaN
2915   NaN       Reg          Lvl    ...             0     NaN    NaN
2916   NaN       Reg          Lvl    ...             0     NaN    NaN
2917   NaN       Reg          Lvl    ...             0     NaN    NaN
2918   NaN       Reg          Lvl    ...             0     NaN  GdPrv
2919   NaN       Reg          Lvl    ...             0     NaN    NaN
2920   NaN       Reg          Lvl    ...             0     NaN    NaN
2921   NaN       IR1          Lvl    ...             0     NaN    NaN
2922   NaN       Reg          Lvl    ...             0     NaN    NaN
2923   NaN       Reg          Low    ...             0     NaN    NaN
2924   NaN       Reg          Lvl    ...             0     NaN    NaN
2925   NaN       IR1          Lvl    ...             0     NaN  GdPrv
2926   NaN       IR1          Low    ...             0     NaN  MnPrv
2927   NaN       Reg          Lvl    ...             0     NaN  MnPrv
2928   NaN       Reg          Lvl    ...             0     NaN    NaN
2929   NaN       Reg          Lvl    ...             0     NaN    NaN

     Misc Feature Misc Val Mo Sold Yr Sold Sale Type  Sale Condition  \
0             NaN        0       5    2010       WD           Normal
1             NaN        0       6    2010       WD           Normal
2            Gar2    12500       6    2010       WD           Normal
3             NaN        0       4    2010       WD           Normal
4             NaN        0       3    2010       WD           Normal
5             NaN        0       6    2010       WD           Normal
6             NaN        0       4    2010       WD           Normal
7             NaN        0       1    2010       WD           Normal
8             NaN        0       3    2010       WD           Normal
9             NaN        0       6    2010       WD           Normal
10            NaN        0       4    2010       WD           Normal
11           Shed      500       3    2010       WD           Normal
12            NaN        0       5    2010       WD           Normal
13            NaN        0       2    2010       WD           Normal
14            NaN        0       6    2010       WD           Normal
15            NaN        0       6    2010       WD           Normal
16            NaN        0       6    2010       WD           Normal
17            NaN        0       6    2010       New         Partial
18            NaN        0       6    2010       WD           Normal
19            NaN        0       2    2010       WD           Normal
20            NaN        0       1    2010       COD          Normal
21            NaN        0       1    2010       WD           Family
22            NaN        0       1    2010       WD           Normal
23           Shed      700       3    2010       WD           Normal
24            NaN        0       4    2010       WD           Normal
25            NaN        0       7    2010       WD           Normal
26            NaN        0       4    2010       WD           Normal
27            NaN        0       4    2010     ConLI          Normal
28            NaN        0       6    2010       WD           Normal
29            NaN        0       2    2010       COD          Normal
...           ...      ...     ...     ...       ...             ...
2900          NaN        0      11    2006       New         Partial
2901          NaN        0       3    2006       New         Partial
2902          NaN        0       9    2006       New         Partial
2903          NaN        0       5    2006       WD           Normal
2904          NaN        0      11    2006       WD           Normal
2905          NaN        0       5    2006       WD           Normal
2906          NaN        0       3    2006       WD           Normal
2907          NaN        0       7    2006       WD          Abnorml
2908          NaN        0       5    2006       WD           Normal
2909          NaN        0       7    2006       WD           Normal
2910          NaN        0       6    2006       WD           Normal
2911          NaN        0      10    2006       WD           Normal
2912          NaN        0       3    2006       WD           Normal
2913          NaN        0       4    2006       WD           Normal
2914          NaN        0       5    2006       WD           Normal
2915          NaN        0       5    2006       WD           Normal
2916          NaN        0       8    2006       WD          Abnorml
2917          NaN        0      12    2006       WD          Abnorml
2918          NaN        0       6    2006       WD           Normal
2919          NaN        0       6    2006       WD           Normal
2920          NaN        0       4    2006       WD          Abnorml
2921          NaN        0       7    2006       WD           Normal
2922          NaN        0       7    2006       WD           Family
2923          NaN        0       5    2006       WD           Normal
2924          NaN        0       9    2006       WD          Abnorml
2925          NaN        0       3    2006       WD           Normal
2926          NaN        0       6    2006       WD           Normal
2927         Shed      700       7    2006       WD           Normal
2928          NaN        0       4    2006       WD           Normal
2929          NaN        0      11    2006       WD           Normal

      SalePrice
0        215000
1        105000
2        172000
3        244000
4        189900
5        195500
6        213500
7        191500
8        236500
9        189000
10       175900
11       185000
12       180400
13       171500
14       212000
15       538000
16       164000
17       394432
18       141000
19       210000
20       190000
21       170000
22       216000
23       149000
24       149900
25       142000
26       126000
27       115000
28       184000
29        96000
...         ...
2900     320000
2901     369900
2902     359900
2903      81500
2904     215000
2905     164000
2906     153500
2907      84500
2908     104500
2909     127000
2910     151400
2911     126500
2912     146500
2913      73000
2914      79400
2915     140000
2916      92000
2917      87550
2918      79500
2919      90500
2920      71000
2921     150900
2922     188000
2923     160000
2924     131000
2925     142500
2926     131000
2927     132000
2928     170000
2929     188000

[2930 rows x 82 columns]>

In [121]:
def transform_features(data):
    return data

In [122]:
def select_features(data):
    return data[['Gr Liv Area', 'SalePrice']]

In [123]:
def train_and_test(data):
    train = data[0:1460]
    test = data[1460:]
    
    numeric_train = train.select_dtypes(include=['integer', 'float'])
    numeric_test = test.select_dtypes(include=['integer', 'float'])
    
    features = numeric_train.columns.drop("SalePrice")
    lr = linear_model.LinearRegression()
    lr.fit(train[features], train["SalePrice"])
    predictions = lr.predict(test[features])
    mse = mean_squared_error(test["SalePrice"], predictions)
    rmse = np.sqrt(mse)
    
    return rmse

In [124]:
transform_data = transform_features(data)
filtered_data = select_features(transform_data)
rmse = train_and_test(filtered_data)

rmse

57088.25161263909

### Handling missing values

The transform_features() function shouldn't modify the train data frame and instead return a new one entirely. This way, we can keep using train in the experimentation cells.

Which columns contain less than 5% missing values?
 - For numerical columns that meet this criteria, let's fill in the missing values using the most popular value for that column.

What new features can we create, that better capture the information in some of the features?
 - An example of this would be the years_until_remod feature we created in the last mission.

Which columns need to be dropped for other reasons?
 - Which columns aren't useful for machine learning?
 - Which columns leak data about the final sale?

In [125]:
num_missing = data.isnull().sum()

In [126]:
# Filter Series to columns containing >5% missing values
drop_missing_cols = num_missing[(num_missing > len(data)/20)].sort_values()

# Drop those columns from the data frame. Note the use of the .index accessor
data = data.drop(drop_missing_cols.index, axis=1)

In [127]:
## Series object: column name -> number of missing values
text_mv_counts = data.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)

## Filter Series to columns containing *any* missing values
drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]

data = data.drop(drop_missing_cols_2.index, axis=1)

In [128]:
## Compute column-wise missing value counts
num_missing = data.select_dtypes(include=['int', 'float']).isnull().sum()
fixable_numeric_cols = num_missing[(num_missing < len(data)/20) & (num_missing > 0)].sort_values()
fixable_numeric_cols

BsmtFin SF 1       1
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Garage Cars        1
Garage Area        1
Bsmt Full Bath     2
Bsmt Half Bath     2
Mas Vnr Area      23
dtype: int64

In [129]:
## Compute the most common value for each column in `fixable_nmeric_missing_cols`.
replacement_values_dict = data[fixable_numeric_cols.index].mode().to_dict(orient='records')[0]
replacement_values_dict

{'Bsmt Full Bath': 0.0,
 'Bsmt Half Bath': 0.0,
 'Bsmt Unf SF': 0.0,
 'BsmtFin SF 1': 0.0,
 'BsmtFin SF 2': 0.0,
 'Garage Area': 0.0,
 'Garage Cars': 2.0,
 'Mas Vnr Area': 0.0,
 'Total Bsmt SF': 0.0}

In [130]:
## Use `pd.DataFrame.fillna()` to replace missing values.
data = data.fillna(replacement_values_dict)

In [131]:
## Verify that every column has 0 missing values
data.isnull().sum().value_counts()

0    64
dtype: int64

In [132]:
years_sold = data['Yr Sold'] - data['Year Built']
years_sold[years_sold < 0]

2180   -1
dtype: int64

In [133]:
years_since_remod = data['Yr Sold'] - data['Year Remod/Add']
years_since_remod[years_since_remod < 0]

1702   -1
2180   -2
2181   -1
dtype: int64

In [134]:
data['Years Before Sale'] = years_sold
data['Years Since Remod'] = years_since_remod

## Drop rows with negative values for both of these new features
data = data.drop([1702, 2180, 2181], axis=0)

## No longer need original year columns
data = data.drop(["Year Built", "Year Remod/Add"], axis = 1)

In [135]:

## Drop columns that aren't useful for ML
data = data.drop(["PID", "Order"], axis=1)

## Drop columns that leak info about the final sale
data = data.drop(["Mo Sold", "Sale Condition", "Sale Type", "Yr Sold"], axis=1)

In [136]:
def transform_features(data):
    num_missing = data.isnull().sum()
    drop_missing_cols = num_missing[(num_missing > len(data)/20)].sort_values()
    data = data.drop(drop_missing_cols.index, axis=1)
    
    text_mv_counts = data.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)
    drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]
    data = data.drop(drop_missing_cols_2.index, axis=1)
    
    num_missing = data.select_dtypes(include=['int', 'float']).isnull().sum()
    fixable_numeric_cols = num_missing[(num_missing < len(data)/20) & (num_missing > 0)].sort_values()
    replacement_values_dict = data[fixable_numeric_cols.index].mode().to_dict(orient='records')[0]
    data = data.fillna(replacement_values_dict)
    
    years_sold = data['Yr Sold'] - data['Year Built']
    years_since_remod = data['Yr Sold'] - data['Year Remod/Add']
    data['Years Before Sale'] = years_sold
    data['Years Since Remod'] = years_since_remod
    data = data.drop([1702, 2180, 2181], axis=0)

    data = data.drop(["PID", "Order", "Mo Sold", "Sale Condition", "Sale Type", "Year Built", "Year Remod/Add"], axis=1)
    return data

def select_features(data):
    return data[["Gr Liv Area", "SalePrice"]]

def train_and_test(data):  
    train = data[:1460]
    test = data[1460:]
    
    ## You can use `pd.DataFrame.select_dtypes()` to specify column types
    ## and return only those columns as a data frame.
    numeric_train = train.select_dtypes(include=['integer', 'float'])
    numeric_test = test.select_dtypes(include=['integer', 'float'])
    
    ## You can use `pd.Series.drop()` to drop a value.
    features = numeric_train.columns.drop("SalePrice")
    lr = linear_model.LinearRegression()
    lr.fit(train[features], train["SalePrice"])
    predictions = lr.predict(test[features])
    mse = mean_squared_error(test["SalePrice"], predictions)
    rmse = np.sqrt(mse)
    
    return rmse

data = pd.read_csv("AmesHousing.tsv", delimiter="\t")
transform_data = transform_features(data)
filtered_data = select_features(transform_data)
rmse = train_and_test(filtered_data)

rmse

55275.36731241307

### Feature Selection

Now that we have cleaned and transformed a lot of the features in the data set, it's time to move on to feature selection for numerical features.

In [137]:
numerical_data = transform_data.select_dtypes(include=['int', 'float'])
numerical_data.head(5)

,MS SubClass,Lot Area,Overall Qual,Overall Cond,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,...,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Yr Sold,SalePrice,Years Before Sale,Years Since Remod
0,20,31770,6,5,112.0,639.0,0.0,441.0,1080.0,1656,...,62,0,0,0,0,0,2010,215000,50,50
1,20,11622,5,6,0.0,468.0,144.0,270.0,882.0,896,...,0,0,0,120,0,0,2010,105000,49,49
2,20,14267,6,6,108.0,923.0,0.0,406.0,1329.0,1329,...,36,0,0,0,0,12500,2010,172000,52,52
3,20,11160,7,5,0.0,1065.0,0.0,1045.0,2110.0,2110,...,0,0,0,0,0,0,2010,244000,42,42
4,60,13830,5,5,0.0,791.0,0.0,137.0,928.0,928,...,34,0,0,0,0,0,2010,189900,13,12

In [138]:
abs_corr_coeffs = numerical_data.corr()['SalePrice'].abs().sort_values()
abs_corr_coeffs

BsmtFin SF 2         0.006127
Misc Val             0.019273
Yr Sold              0.030358
3Ssn Porch           0.032268
Bsmt Half Bath       0.035875
Low Qual Fin SF      0.037629
Pool Area            0.068438
MS SubClass          0.085128
Overall Cond         0.101540
Screen Porch         0.112280
Kitchen AbvGr        0.119760
Enclosed Porch       0.128685
Bedroom AbvGr        0.143916
Bsmt Unf SF          0.182751
Lot Area             0.267520
2nd Flr SF           0.269601
Bsmt Full Bath       0.276258
Half Bath            0.284871
Open Porch SF        0.316262
Wood Deck SF         0.328183
BsmtFin SF 1         0.439284
Fireplaces           0.474831
TotRms AbvGrd        0.498574
Mas Vnr Area         0.506983
Years Since Remod    0.534985
Full Bath            0.546118
Years Before Sale    0.558979
1st Flr SF           0.635185
Garage Area          0.641425
Total Bsmt SF        0.644012
Garage Cars          0.648361
Gr Liv Area          0.717596
Overall Qual         0.801206
SalePrice            1.000000
Name: SalePrice, dtype: float64

In [139]:
# Let's only keep columns with a correlation coefficient of larger than 0.4 (arbitrary, worth experimenting later!)
abs_corr_coeffs[abs_corr_coeffs > 0.4]

BsmtFin SF 1         0.439284
Fireplaces           0.474831
TotRms AbvGrd        0.498574
Mas Vnr Area         0.506983
Years Since Remod    0.534985
Full Bath            0.546118
Years Before Sale    0.558979
1st Flr SF           0.635185
Garage Area          0.641425
Total Bsmt SF        0.644012
Garage Cars          0.648361
Gr Liv Area          0.717596
Overall Qual         0.801206
SalePrice            1.000000
Name: SalePrice, dtype: float64

In [140]:
## Drop columns with less than 0.4 correlation with SalePrice
transform_data = transform_data.drop(abs_corr_coeffs[abs_corr_coeffs < 0.4].index, axis=1)

In [141]:
## Create a list of column names from documentation that are *meant* to be categorical
nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]

In [142]:
## Which categorical columns have we still carried with us? We'll test these 
transform_cat_cols = []
for col in nominal_features:
    if col in transform_data.columns:
        transform_cat_cols.append(col)

## How many unique values in each categorical column?
uniqueness_counts = transform_df[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()
## Aribtrary cutoff of 10 unique values (worth experimenting)
drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > 10].index
transform_data = transform_data.drop(drop_nonuniq_cols, axis=1)

In [143]:
## Select just the remaining text columns and convert to categorical
text_cols = transform_data.select_dtypes(include=['object'])
for col in text_cols:
    transform_data[col] = transform_data[col].astype('category')
    
## Create dummy columns and add back to the dataframe!
transform_data = pd.concat([
    transform_data, 
    pd.get_dummies(transform_data.select_dtypes(include=['category']))
], axis=1).drop(text_cols,axis=1)

In [145]:
def transform_features(data):
    num_missing = data.isnull().sum()
    drop_missing_cols = num_missing[(num_missing > len(data)/20)].sort_values()
    data = data.drop(drop_missing_cols.index, axis=1)
    
    text_mv_counts = data.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)
    drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]
    data = data.drop(drop_missing_cols_2.index, axis=1)
    
    num_missing = data.select_dtypes(include=['int', 'float']).isnull().sum()
    fixable_numeric_cols = num_missing[(num_missing < len(data)/20) & (num_missing > 0)].sort_values()
    replacement_values_dict = data[fixable_numeric_cols.index].mode().to_dict(orient='records')[0]
    data = data.fillna(replacement_values_dict)
    
    years_sold = data['Yr Sold'] - data['Year Built']
    years_since_remod = data['Yr Sold'] - data['Year Remod/Add']
    data['Years Before Sale'] = years_sold
    data['Years Since Remod'] = years_since_remod
    data = data.drop([1702, 2180, 2181], axis=0)

    data = data.drop(["PID", "Order", "Mo Sold", "Sale Condition", "Sale Type", "Year Built", "Year Remod/Add"], axis=1)
    return data

def select_features(data, coeff_threshold=0.4, uniq_threshold=10):
    numerical_data = data.select_dtypes(include=['int', 'float'])
    abs_corr_coeffs = numerical_data.corr()['SalePrice'].abs().sort_values()
    data = data.drop(abs_corr_coeffs[abs_corr_coeffs < coeff_threshold].index, axis=1)
    
    nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]
    
    transform_cat_cols = []
    for col in nominal_features:
        if col in data.columns:
            transform_cat_cols.append(col)

    uniqueness_counts = data[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()
    drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > 10].index
    data = data.drop(drop_nonuniq_cols, axis=1)
    
    text_cols = data.select_dtypes(include=['object'])
    for col in text_cols:
        data[col] = data[col].astype('category')
    data = pd.concat([data, pd.get_dummies(data.select_dtypes(include=['category']))], axis=1).drop(text_cols,axis=1)
    
    return data

def train_and_test(data, k=0):
    numeric_data = data.select_dtypes(include=['integer', 'float'])
    features = numeric_data.columns.drop("SalePrice")
    lr = linear_model.LinearRegression()
    
    if k == 0:
        train = data[:1460]
        test = data[1460:]

        lr.fit(train[features], train["SalePrice"])
        predictions = lr.predict(test[features])
        mse = mean_squared_error(test["SalePrice"], predictions)
        rmse = np.sqrt(mse)

        return rmse
    
    if k == 1:
        # Randomize *all* rows (frac=1) from `df` and return
        shuffled_data = data.sample(frac=1, )
        train = data[:1460]
        test = data[1460:]
        
        lr.fit(train[features], train["SalePrice"])
        predictions_one = lr.predict(test[features])        
        
        mse_one = mean_squared_error(test["SalePrice"], predictions_one)
        rmse_one = np.sqrt(mse_one)
        
        lr.fit(test[features], test["SalePrice"])
        predictions_two = lr.predict(train[features])        
       
        mse_two = mean_squared_error(train["SalePrice"], predictions_two)
        rmse_two = np.sqrt(mse_two)
        
        avg_rmse = np.mean([rmse_one, rmse_two])
        print(rmse_one)
        print(rmse_two)
        return avg_rmse
    else:
        kf = KFold(n_splits=k, shuffle=True)
        rmse_values = []
        for train_index, test_index, in kf.split(df):
            train = data.iloc[train_index]
            test = data.iloc[test_index]
            lr.fit(train[features], train["SalePrice"])
            predictions = lr.predict(test[features])
            mse = mean_squared_error(test["SalePrice"], predictions)
            rmse = np.sqrt(mse)
            rmse_values.append(rmse)
        print(rmse_values)
        avg_rmse = np.mean(rmse_values)
        return avg_rmse

data = pd.read_csv("AmesHousing.tsv", delimiter="\t")
transform_data = transform_features(data)
filtered_data = select_features(transform_data)
rmse = train_and_test(filtered_data, k=4)

rmse

IndexError: positional indexers are out-of-bounds